@media only screen and (min-width: 1500px){
}

@media only screen and (min-width: 991px) { 
}

@media only screen and (min-width: 768px) { 
}

@media only screen and (min-width:577px){ 
}

@media only screen and (max-width: 1499px){
}

@media only screen and (max-width: 991px){
    body{
        header{
            #navbar{
                display: none;
            }
            #mobile_navbar{
                display: flex!important;
                justify-content: space-around;

            }
        }
    }

    body{
        #about{
            .about_img_slider{
                .item{
                    img{
                        width: 100% !important;
                    }
                }
            }
            .owl-theme {
                .owl-nav.disabled + .owl-dots {
                    margin-top: 0;
                    position: absolute;
                    right: 30px;
                    top: 120px!important;
                  }
            }
            .about_shape{
                display: none!important;
            }
        }
    }

    body{
        #vision{
            .vision_wrapper{
                padding: 30px 50px 40px 30px!important;
            }
        }
    }

    body{
        #partner{
            .partner_wrapper{
                .partner_content{
                    .section_title{
                        text-align: center!important;
                    }
                }
                .btn_div{
                    width: 100%!important;
                    justify-content: center;
                }
            }
        }
    }

    body{
        #whyWe{
            .image_area{
                img{
                    display: block!important;
                }
            }
            .whyWe_content{
                padding: 30px 0 40px 0!important;
                max-width: 100%;
                text-align: center;
                .section_title{
                    text-align: center!important;
                }

                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        max-width: 100%!important;
                        max-width: 230px!important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) { 
}

@media only screen and (max-width: 576px){ 
}

@media only screen and (max-width: 487px){ 
}